.tile {
    position: absolute;
    fill: #4d4d5f;
    transition: 0.2s;
}

.tile:hover {
    fill: #81819e;
    cursor: grab;
}

#Grid {
    white-space: nowrap;
    zoom: 1.1;
    margin-left: -10%;
    margin-top: -10%;
}